# Empty Strings are ignored or equivalent to false
# STEAMAPPBRANCH=unstable
PZ_IMAGE_VERSION=42.13.2-unstable
DATA_HOST_PATH=./data
WORKSHOP_HOST_PATH=./workshop-mods
LANG=en_EN.UTF-8
NOSTEAM=False
CACHEDIR=
MODFOLDERS=workshop,steam,mods
DEBUG=False
ADMINUSERNAME=admin
ADMINPASSWORD=ChangeMePlease
SERVERNAME=
SERVERPRESET=
# Leave empty unless you need to bind to a specific interface inside the container.
IP=
PORT=16261
STEAMVAC=True
STEAMPORT1=
STEAMPORT2=
MEMORY=2048m
SOFTRESET=False
MOD_IDS=
WORKSHOP_IDS=
